@model IEnumerable<Reservas.Models.Reserva>

<table class="table table-borderless table-hover rounded-3 mb-5">
    <thead class="">
        <tr>
            <th>Nombre de la Sala</th>
            <th>Fecha</th>
            <th>Hora de Inicio</th>
            <th>Hora de Fin</th>
            <th>Nombre del Usuario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reserva in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => reserva.nombreSala)</td>
                <td>@Html.DisplayFor(modelItem => reserva.fecha)</td>
                <td>@Html.DisplayFor(modelItem => reserva.horaInicio)</td>
                <td>@Html.DisplayFor(modelItem => reserva.horaFin)</td>
                <td>@Html.DisplayFor(modelItem => reserva.nombreUsuario)</td>
            </tr>
        }
    </tbody>
</table>
