@model IEnumerable<Reservas.Models.Reserva>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horaFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreSala)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreSala)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Idreserva }) |
            @Html.ActionLink("Details", "Details", new { id=item.Idreserva }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Idreserva })
        </td>
    </tr>
}

</table>
