@model IEnumerable<Reservas.Models.Reserva>

@{
    ViewBag.Title = "UsuarioReserva";

}

<div class="container-fluid">
    <button id="btnPasado" class="btn btn-primary">Mostrar Reservas Pasadas</button>
    <button id="btnFuturo" class="btn btn-secondary">Mostrar Reservas Futuras</button>

</div>

<div id="tablaReservas" class="mt-3">
    <!-- Aquí se cargará la tabla de reservas -->
</div>

@*
@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombreSala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.horaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.horaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreUsuario)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreSala)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha)
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.horaInicio, new { htmlAttributes = new { @class = "form-control", @type = "time" } })
                </td>
                <td>
                    @Html.EditorFor(modelItem => item.horaFin, new { htmlAttributes = new { @class = "form-control", @type = "time" } })
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.nombreUsuario)
                </td>
            </tr>
        }

    </table>
}
else
{
    <p> No hay reservas disponibles para este usuario.</p>
}
*@

@section Scripts {
    <script>
    $(document).ready(function () {
            // Botón para cargar reservas pasadas
            $("#btnPasado").click(function () {
                cargarReservas("pasado");
            });

            // Botón para cargar reservas futuras
            $("#btnFuturo").click(function () {
                cargarReservas("futuro");
            });

            function cargarReservas(tipo) {
                $.ajax({
                    url: '/Reservas/ObtenerReservas',
                    method: 'GET',
                    data: { tipo: tipo },
                    success: function (html) {
                        $("#tablaReservas").html(html); // Renderizar la vista parcial
                    },
                    error: function () {
                        alert("Error al cargar las reservas.");
                    }
                });
            }
        });</script>
}