@model Reservas.Models.Sala

@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Sala</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Nombre de la Sala</dt>
            <dd>@Html.DisplayFor(model => model.nombreSala)</dd>

            <dt>Capacidad</dt>
            <dd>@Html.DisplayFor(model => model.capacidad)</dd>

            <dt>Ubicación</dt>
            <dd>@Html.DisplayFor(model => model.ubicacion)</dd>

            <dt>Disponibilidad de Equipos</dt>
            <dd>@Html.DisplayFor(model => model.disponibilidadEquipo)</dd>

            <dt>Hora de Apertura</dt>
            <dd>@Html.DisplayFor(model => model.horaApertura)</dd>

            <dt>Hora de Cierre</dt>
            <dd>@Html.DisplayFor(model => model.horaCierre)</dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Idsala }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
