@model Reservas.Models.Sala

@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Sala</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nombreSala)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombreSala)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.capacidad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.capacidad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ubicacion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ubicacion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.disponibilidadEquipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.disponibilidadEquipo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.horaApertura)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.horaApertura)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.horaCierre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.horaCierre)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Idsala }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
